<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doug Website</title>
</head>
<body>

    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    <a href="https://www.figma.com/design/D1vB5FIWWb4q5mDyRTP1oa/Doug-website?node-id=0-1&t=IbZAkzH45zTxVHnO-0"> Link Figma</a>
    <br>
    <a href="{{url_for('HomePage')}}"> Link Biography</a>
    <br>
    This Website is purely based in the english language
</body>
</html>