{% extends 'base.html' %}

    {% block BlockTitulo %}

        Contact Me

    {% endblock %}


    {% block BlockConteudo %}

    <br class="mt-4 p-4">

    <div class="container">

        <div class="row">

        {% include 'nav.html' %}

        <div class="rounded mt-1" style="background-color: #292A2C;">
            <p style="font-size: smaller;" class="text-light mt-2 ">ADD MINIATURE AND TEXT HERE</p>
        </div>

            
        </div>

        <br class="mt-4 p-4"><br class="mt-4 p-4">

        <div class="row">

            

            <div class="rounded" style="background-color: #292A2C;">

                <br>

            </div>
        </div>
        
    </div>

        {% include 'foot.html' %}


    <br class="mt-4 p-4"><br class="mt-4 p-4">

    {% endblock %}