{% extends 'base.html' %}

    {% block BlockTitulo %}

        Contact Me

    {% endblock %}


    {% block BlockConteudo %}

    <br class="mt-4 p-4">
    <br class="mt-4 p-4">

    <div class="container">

        <div class="row">

        {% include 'nav.html' %}


            
        </div>



        <div class="row mt-2">


            <div class="rounded" style="background-color: #292A2C;">

                <br class="mt-4 p-4">

                <div class="text-center">
                    <br class="mt-4 p-4">

                    <img src="/static/imgs/Icon4FAV.png" alt="DougiconB">

                    <br class="mt-4 p-4">

                    <div class="row">

                        <div class="col"></div>

                        <div class="col"  style="background-repeat: no-repeat ;background-size:100%; background-image: url({{url_for('static',filename='imgs/Group 3.png')}});">
                            
                            <h4 class="mt-3 text-light" style="font-size: 28px;">Doug Dog Doug</h4>
                            <br class="mt-4 p-4">
                            <p style="font-size: smaller;" class="text-light mt-2 ">Send me a message if you wish!</p>
                            <br class="mt-4 p-4"><br class="mt-4 p-4">

                        </div>

                        <div class="col"></div>

                    </div>

                    


                </div>

            </div>

        </div>
        
        <div class="row">
            

                <div class="col text-light text-center rounded mt-4 p-4" style="background-color: #425646;">

                    <p>Contact me at:</p>

                    <a href="https://discordapp.com/users/413008383520800771" target="_blank">
                    <img src="/static/imgs/discord1.png" alt="DiscordiconB">
                    </a>
                </div>




                <div class="col text-light text-center rounded mt-4 p-4 ms-2" style="background-color: #425646;">

                    <p>or even at:</p>

                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=2006raposa@gmail.com&su=Hello Doug! I'am (Your name)&body=There is an art that i need you to do... (write down more, thanks!)" target="_blank">
                    <img src="/static/imgs/gmail 2.png" alt="gmailiconB">
                </a>

                </div>



        </div>

        <br>


        
    </div>

        {% include 'foot.html' %}


    {% endblock %}