{% extends 'base.html' %}

    {% block BlockTitulo %}

        Introduction

    {% endblock %}


    {% block BlockConteudo %}

    <br class="mt-4 p-4">
    <br class="mt-4 p-4">

    <div class="container">

        <div class="row">



            <div class="col text-light">
                
                <div class="rounded" style="background-color: #292A2C;">

                    
                    <div class="row">

                        <div class="col text-center">
                            <div class="container" >
                                <img class="p-4" src="{{url_for('static',filename='imgs/Icon1.png')}}" alt="DougIcon"> 
                                <p class="" style="font-size: 12px;"> Contact me at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=2006raposa@gmail.com&su=Hello Doug! I'am (Your name)&body=There is an art that i need you to do... (write down more, thanks!)" target="_blank">Email</a> || <a href="https://discordapp.com/users/413008383520800771 " target="_blank">Discord</a></p>
                                
                            </div>
                        </div>
                        <div class="col mt-4">
                            <div class="row" style="background-repeat: no-repeat ;background-size:100%; background-image: url({{url_for('static',filename='imgs/Headings1.png')}});">
                                <h4 class="mt-2" style="font-size: 28px; ">Doug Dog Doug</h4>
                                <div class="col">
                                    <p class=" mt-4 ms-2" style="font-size: 12px;">Young Artist, ilustrator and web-site builder</p>
                                </div>
                                <div class="col-5">

                                </div>
                            </div>
                                <div class="row">

                                        <div class="mt-2 p-2 rounded" style="font-size: 14px;background-color: #484848;">
                                            <p class="mt-2 ms-4">
                                            “Hello, I’am currently working as a freelancer to assist anyone wanting Realistic / Stylized arts with Furries or Humans. Please Contact me if you wish anything to be drawed out”
                                            </p>

                                    </div>
                                    
                                </div>

                                <br class="mt-4 p-4">
                        </div>


                    </div>
                    
                </div>


                    <div class="rounded mt-2 " style="background-color: #292A2C; ">
                        <div class="row rounded gx-5 ">
                            <div class="row " >
                                <div class="col" >

                                    <div class="p-4 rounded text-light" style="font-size: 14px;background-color: #484848;">
                                        <h5 class="mt-2 p-2">
                                            What am I looking forward to?
                                        </h5>
                                        <p class="mt-1 p-1 ms-4">
                                           
                                            I'am always trying to improve my arts, techniques and learn even more to become more skilled.
                                        </p>

                                        <h5 class="mt-2 p-2">
                                            What are my specialities?
                                        </h5>
                                        <p class="mt-1 p-1 ms-4">
                                           
                                            Drawing Bodies, Humans, Furries, Surrealistic Backgrounds, Mecha / Robots / Androids, Military and Medieval Fantasy.
                                        </p>

                                        <h5 class="mt-2 p-2">
                                            Do I work with SFW and NSFW?
                                        </h5>
                                        <p class="mt-1 p-1 ms-4">
                                           
                                            Yes.
                                        </p>

                                        <h5 class="mt-2 p-2">
                                            Which languages do you speak?
                                        </h5>
                                        <p class="mt-1 p-1 ms-4">
                                            Portuguese, English and German
                                        </p>




                                    </div>

                                    <br class="mt-4 p-4">

                                </div>

                                <div class="col-1">
                                    
                                </div>

                                
                            </div>
                            <br class="mt-4 p-4">
                    </div>
                    
                </div>

            </div>
          
            <div class="col text-light">

                {% include 'nav.html' %}
                <div class="rounded mt-2 " style="background-color: #292A2C; ">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">

              
                </div>

            </div>



        </div>

        
    </div>

    {% include 'foot.html' %}

    <br class="mt-4 p-4"><br class="mt-4 p-4">

    {% endblock %}