
    <div class="rounded mt-2 text-end" style="background-color: #292A2C; ">
        <div class="row" style="justify-content: end;">

            
            <div class="col">

                <a class="btn text-light " type="button" role="button " href="{{url_for('ExtrasPage')}}">
                    <img alt="ADOUGLogo" src="/static/imgs/2024_Signature.png" height="60px">
                </a>
               

            </div>

            <div class="col">

                <a class="btn text-light " type="button" role="button " href="{{url_for('HomePage')}}">
                    <h5 class="mt-2 p-2 ">Introduction</h5>
                </a>
               

            </div>
            <div class="col">

                
                <a class="btn text-light " type="button" role="button " href="{{url_for('PortPage')}}">
                    <h5 class="mt-2 p-2 ">Portifolio</h5>
                </a>
                
            </div>

    
            
            <div class="col me-4">

                <a class="btn text-light " role="button " href="{{url_for('ContactPage')}}">
                    <h5 class="mt-2 p-2 ">Contact</h5>
                </a>
                
            </div>

        </div>
    </div>

