
    <div class="rounded mt-2 text-end" style="background-color: #292A2C; ">
        <div class="row" style="justify-content: end;">
            <div class="col"></div>
            <div class="col"></div>

            <div class="col">

                <div class="btn text-light " role="button " href="#">
                    <h5 class="mt-2 p-2 ">Introduction</h5>
                </div>
               

            </div>
            <div class="col">

                <div class="btn text-light " role="button " href="#">
                    <h5 class="mt-2 p-2 ">Portifolio</h5>
                </div>
                
            </div>
            <div class="col">

                <div class="btn text-light " role="button " href="#">
                    <h5 class="mt-2 p-2 ">Contact</h5>
                </div>
                
            </div>

        </div>
    </div>

