{% extends 'base.html' %}

    {% block BlockTitulo %}

        Portifolio

    {% endblock %}


    {% block BlockConteudo %}
    
    <br class="mt-4 p-4">
    <br class="mt-4 p-4">

    <div class="container">

        <div class="row">

        {% include 'nav.html' %}
            <div class="rounded mt-1" style="background-color: #292A2C;">
                <p style="font-size: smaller;" class="text-light mt-2 ">Here are some arts that I have made in my journey of 3 years as an artist.</p>
            </div>
            
        </div>



        <div class="row">

            <br class="mt-4 p-4">
            <br class="mt-4 p-4">


            <div class="col mt-4 p-4"> 

                <div class="card text-light p-1" style="background-color: #292A2C;">
                    <img src="/static/imgsport/TrunksNotDying.jfif" class="card-img-top" alt="TrunksNotDyingArt">
                        <div class="card-body">
                            <div class="row">
                                <div class="col ">
                                    <h5>"Familiar Premonition."</h5>
                                </div>
                                <div class="col ">
                                    <p style="font-size: smaller;text-align: end;">-2023</p>
                                </div>
                            </div>
                            
                            <div class="row rounded" >
                                <p class="card-text">Here we see Trunks on cell saga, but, this time things are different.</p>
                                <div class="text-center">

                                    <!-- Modal Button -->
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here</button>
                                
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                            <div class="modal-dialog  modal-xl" >
                                            <div class="modal-content" style="background-color: #292A2C;">
                                                <div class="modal-header">

                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"Familiar Premonition."</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <img src="/static/imgsport/TrunksNotDying.jfif" class="card-img-top" alt="TrunksNotDyingArt">
                                                    <p class="card-text mt-2">Here we see Trunks on cell saga, but, this time things are different.</p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
   
   
                </div>
                <div class="col mt-4 p-4"> 

                    <div class="card text-light p-1" style="background-color: #292A2C;">
                        <img src="/static/imgsport/Scp_guard.jpg" class="card-img-top" alt="Scp art">
                        <div class="card-body">
                            <div class="row">
                                <div class="col ">
                                    <h5>"SCPiss off! Dammit."</h5>
                                </div>
                                <div class="col ">
                                    <p style="font-size: smaller;text-align: end;">-2023</p>
                                </div>
                            </div>
                            
                            
                            <div class="row rounded" style="">
                                <p class="card-text">Not everyone gives a damn about the guards on SCP, they are always just peons.</p>
                                <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">
            
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"SCPiss off! Dammit."</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
            
                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/Scp_guard.jpg" class="card-img-top" alt="Scp Art">
                                                            <p class="card-text mt-2">Not everyone gives a damn about the guards on SCP, they are always just peons.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
        </div>

        <div class="row">

            <div class="col mt-4 p-4"> 

                <div class="card text-light p-1" style="background-color: #292A2C;">
                    <img src="/static/imgsport/2023_Crhistmas.png" class="card-img-top" alt="Christmas Art">
                        <div class="card-body">
                            <div class="row">
                                <div class="col ">
                                    <h5>"It's Snowing somewhere at last"</h5>
                                </div>
                                <div class="col ">
                                    <p style="font-size: smaller;text-align: end;">-2023</p>
                                </div>
                            </div>
                            
                            <div class="row rounded" >
                                <p class="card-text">I went to Germany that year and made this piece as a memorial of my trip. Yes this is a real house</p>
                                <div class="text-center">

                                    <!-- Modal Button -->
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">Click here</button>
                                
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                            <div class="modal-dialog  modal-xl" >
                                            <div class="modal-content" style="background-color: #292A2C;">
                                                <div class="modal-header">

                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"It's Snowing somewhere at last"</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <img src="/static/imgsport/2023_Crhistmas.png" class="card-img-top" alt="Christmas Art">
                                                    <p class="card-text mt-2">I went to Germany that year and made this piece as a memorial of my trip. Yes this is a real house</p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
   
   
                </div>
                <div class="col mt-4 p-4"> 

                    <div class="card text-light p-1" style="background-color: #292A2C;">
                        <img src="/static/imgsport/2023_Minecraft.png" class="card-img-top" alt="Minecraft Art">
                        <div class="card-body">
                            <div class="row">
                                <div class="col ">
                                    <h5>"Saturday Night Mining"</h5>
                                </div>
                                <div class="col ">
                                    <p style="font-size: smaller;text-align: end;">-2023</p>
                                </div>
                            </div>
                            
                            
                            <div class="row rounded" style="">
                                <p class="card-text">This is simply an art for me and my friends. The reference was minecraft laucher's animation.</p>
                                <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal4">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">
            
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"Saturday Night Mining"</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
            
                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/2023_Minecraft.png" class="card-img-top" alt="Minecraft Art">
                                                            <p class="card-text mt-2">This is simply an art for me and my friends, Thank you my friends. The reference was minecraft laucher's animation</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
        </div>

        <div class="row">

            <div class="col mt-4 p-4"> 

                <div class="card text-light p-1" style="background-color: #292A2C;">
                    <img src="/static/imgsport/2023_Profile.png" class="card-img-top" alt="Profile Art">
                        <div class="card-body">
                            <div class="row">
                                <div class="col ">
                                    <h5>"Burning Attack?"</h5>
                                </div>
                                <div class="col ">
                                    <p style="font-size: smaller;text-align: end;">-2023</p>
                                </div>
                            </div>
                            
                            <div class="row rounded" >
                                <p class="card-text">An OC of my friend, <a href="https://x.com/SergioPRJ">Sergio</a>, doing a burtning attack in 'manga' shades! </p>
                                <div class="text-center">

                                    <!-- Modal Button -->
                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal6">Click here</button>
                                
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                            <div class="modal-dialog  modal-xl" >
                                            <div class="modal-content" style="background-color: #292A2C;">
                                                <div class="modal-header">

                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"Burning Attack?"</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <img src="/static/imgsport/2023_Profile.png" class="card-img-top" alt="Profile Art">
                                                    <p class="card-text mt-2">An OC of my friend, <a href="https://x.com/SergioPRJ">Sergio</a>, doing a burtning attack in 'manga' shades! </p>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
   
   
                </div>
                <div class="col mt-4 p-4"> 

                    <div class="card text-light p-1" style="background-color: #292A2C;">
                        <img src="/static/imgsport/terror.png" class="card-img-top" alt="Foxy Art">
                        <div class="card-body">
                            <div class="row">
                                <div class="col ">
                                    <h5>"Horror"</h5>
                                </div>
                                <div class="col ">
                                    <p style="font-size: smaller;text-align: end;">-2022</p>
                                </div>
                            </div>
                            
                            
                            <div class="row rounded" style="">
                                <p class="card-text">Foxy from Five nights at Freddy's. Someone give his jaw back</p>
                                <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal8">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">
            
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"Horror"</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
            
                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/terror.png" class="card-img-top" alt="Foxy Art">
                                                            <p class="card-text mt-2">Foxy from Five nights at Freddy's. Someone give his jaw back</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
        </div>


        <div class="rounded mt-1 p-4 text-end" style="background-color: #292A2C;">
            <a href="{{url_for('PortPageNSFW')}}" class="text-light mt-3 ">NSFW ARTWORKS</a>
        </div>

    </div>
            


        
    
        
        
    </div>

        {% include 'foot.html' %}


    <br class="mt-4 p-4"><br class="mt-4 p-4">

    {% endblock %}