{% extends 'base.html' %}

    {% block BlockTitulo %}

        Portifolio

    {% endblock %}


    {% block BlockConteudo %}
    
    <br class="mt-4 p-4">
    <br class="mt-4 p-4">

    <div class="container">

        <div class="row">

        {% include 'nav.html' %}
            <div class="rounded mt-2" style="background-color: #292A2C;">
                <p style="font-size: smaller;" class="text-light mt-2 ">In the jorney of 3 years, here are my favorite-best.</p>
            </div>
            
        </div>

        
            <div class="row">

                    <div class="rounded mt-2 " style="background-color: #425646;">

                            
                            <p  style class="text-light mt-2 text-center">

                            <a style="font-weight: bolder;" class="btn text-light p-4" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                SFW ARTWORKS
                                <img src="/static/imgs/ThreeIcon.png"  width="32px" alt="OptIcon">
                                </a>
                            </p>

                    </div>
                    
            </div>
            
        <div class="collapse" id="collapseExample">
            <div style="background-color: #303330;">


                <div class="row" >

                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">


                    <div class="col mt-4 p-4"> 

                        <div class="card text-light p-1" style="background-color: #292A2C;">
                            <img src="/static/imgsport/2024_EventDougLegosi.png" class="card-img-top" alt="DougLegoshiArt">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"Doug as Legosi on Theater"</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2024</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row rounded" >
                                        <p class="card-text">For an event, I had to draw myself as a my favorite character, the choosed one was Legosi for me.</p>
                                        <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModalDL">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalDL" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">

                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"Doug as Legosi on Theater"</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/2024_EventDougLegosi.png" class="card-img-top" alt="DougLegoshiArt">
                                                            <p class="card-text mt-2">For an event, I had to draw myself as a my favorite character, the choosed one was Legosi for me.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                        <div class="col mt-4 p-4"> 

                            <div class="card text-light p-1" style="background-color: #292A2C;">
                                <img src="/static/imgsport/2024_SCPChaos.png" class="card-img-top" alt="Scp art">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"Last Shot"</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2024</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row rounded" style="">
                                        <p class="card-text">This art was a courtesy for the people on Zdarknesz who host Scp Games on their's server.</p>
                                        <div class="text-center">

                                                    <!-- Modal Button -->
                                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">Click here</button>
                                                
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                            <div class="modal-dialog  modal-xl" >
                                                            <div class="modal-content" style="background-color: #292A2C;">
                                                                <div class="modal-header">
                    
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"Last Shot"</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                    
                                                                <div class="modal-body">
                                                                    <img src="/static/imgsport/2024_SCPChaos.png" class="card-img-top" alt="Scp Art">
                                                                    <p class="card-text mt-2">This art was a courtesy for the people on Zdarknesz who host Scp Games on their's server.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                </div>


                <div class="row" >

                    <br class="mt-4 p-4">
                    <br class="mt-4 p-4">


                    <div class="col mt-4 p-4"> 

                        <div class="card text-light p-1" style="background-color: #292A2C;">
                            <img src="/static/imgsport/TrunksNotDying.jfif" class="card-img-top" alt="TrunksNotDyingArt">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"Familiar Premonition."</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2023</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row rounded" >
                                        <p class="card-text">Here we see Trunks on cell saga, but, this time things are different.</p>
                                        <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">

                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"Familiar Premonition."</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/TrunksNotDying.jfif" class="card-img-top" alt="TrunksNotDyingArt">
                                                            <p class="card-text mt-2">Here we see Trunks on cell saga, but, this time things are different.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                        <div class="col mt-4 p-4"> 

                            <div class="card text-light p-1" style="background-color: #292A2C;">
                                <img src="/static/imgsport/Scp_guard.jpg" class="card-img-top" alt="Scp art">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"SCPiss off! Dammit."</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2023</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row rounded" style="">
                                        <p class="card-text">Not everyone gives a damn about the guards on SCP, they are always just peons.</p>
                                        <div class="text-center">

                                                    <!-- Modal Button -->
                                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">Click here</button>
                                                
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                            <div class="modal-dialog  modal-xl" >
                                                            <div class="modal-content" style="background-color: #292A2C;">
                                                                <div class="modal-header">
                    
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"SCPiss off! Dammit."</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                    
                                                                <div class="modal-body">
                                                                    <img src="/static/imgsport/Scp_guard.jpg" class="card-img-top" alt="Scp Art">
                                                                    <p class="card-text mt-2">Not everyone gives a damn about the guards on SCP, they are always just peons.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                </div>

                <div class="row" >

                    <div class="col mt-4 p-4"> 

                        <div class="card text-light p-1" style="background-color: #292A2C;">
                            <img src="/static/imgsport/2023_Crhistmas.png" class="card-img-top" alt="Christmas Art">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"It's Snowing somewhere at last"</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2023</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row rounded" >
                                        <p class="card-text">I went to Germany that year and made this piece as a memorial of my trip. Yes this is a real house</p>
                                        <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">

                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"It's Snowing somewhere at last"</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/2023_Crhistmas.png" class="card-img-top" alt="Christmas Art">
                                                            <p class="card-text mt-2">I went to Germany that year and made this piece as a memorial of my trip. Yes this is a real house</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                        <div class="col mt-4 p-4"> 

                            <div class="card text-light p-1" style="background-color: #292A2C;">
                                <img src="/static/imgsport/2023_Minecraft.png" class="card-img-top" alt="Minecraft Art">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"Saturday Night Mining"</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2023</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row rounded" style="">
                                        <p class="card-text">This is simply an art for me and my friends. The reference was minecraft laucher's animation.</p>
                                        <div class="text-center">

                                                    <!-- Modal Button -->
                                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal4">Click here</button>
                                                
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                            <div class="modal-dialog  modal-xl" >
                                                            <div class="modal-content" style="background-color: #292A2C;">
                                                                <div class="modal-header">
                    
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"Saturday Night Mining"</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                    
                                                                <div class="modal-body">
                                                                    <img src="/static/imgsport/2023_Minecraft.png" class="card-img-top" alt="Minecraft Art">
                                                                    <p class="card-text mt-2">This is simply an art for me and my friends, Thank you my friends. The reference was minecraft laucher's animation</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                </div>

                <div class="row" >

                    <div class="col mt-4 p-4"> 

                        <div class="card text-light p-1" style="background-color: #292A2C;">
                            <img src="/static/imgsport/2023_Profile.png" class="card-img-top" alt="Profile Art">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"Burning Attack?"</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2023</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row rounded" >
                                        <p class="card-text">An OC of my friend, <a href="https://x.com/SergioPRJ">Sergio</a>, doing a burning attack in 'manga' shades! </p>
                                        <div class="text-center">

                                            <!-- Modal Button -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal6">Click here</button>
                                        
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                    <div class="modal-dialog  modal-xl" >
                                                    <div class="modal-content" style="background-color: #292A2C;">
                                                        <div class="modal-header">

                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">"Burning Attack?"</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <img src="/static/imgsport/2023_Profile.png" class="card-img-top" alt="Profile Art">
                                                            <p class="card-text mt-2">An OC of my friend, <a href="https://x.com/SergioPRJ">Sergio</a>, doing a burning attack in 'manga' shades! </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                        <div class="col mt-4 p-4"> 

                            <div class="card text-light p-1" style="background-color: #292A2C;">
                                <img src="/static/imgsport/terror.png" class="card-img-top" alt="Foxy Art">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col ">
                                            <h5>"Horror"</h5>
                                        </div>
                                        <div class="col ">
                                            <p style="font-size: smaller;text-align: end;">-2022</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row rounded" style="">
                                        <p class="card-text">Foxy from Five nights at Freddy's. Someone give his jaw back</p>
                                        <div class="text-center">

                                                    <!-- Modal Button -->
                                                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal8">Click here</button>
                                                
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                            <div class="modal-dialog  modal-xl" >
                                                            <div class="modal-content" style="background-color: #292A2C;">
                                                                <div class="modal-header">
                    
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">"Horror"</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                    
                                                                <div class="modal-body">
                                                                    <img src="/static/imgsport/terror.png" class="card-img-top" alt="Foxy Art">
                                                                    <p class="card-text mt-2">Foxy from Five nights at Freddy's. Someone give his jaw back</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                </div>

            </div>
        </div>

        <div class="rounded mt-2 p-4 text-center" style="background-color: #862630;">
            <a style="font-weight: bolder;" href="{{url_for('PortPageNSFW')}}" class=" mt-4 p-4 text-light ">NSFW ARTWORKS</a> <p class="text-light ">You need to confirm that you are +18 to acess</p>
        </div>


        <div class="row">

            <div class="rounded mt-2 text-center" style="background-color: #1f71bd;">

                    <p style="font-weight: bolder;" class="text-light mt-2 text-center">
                        <a style="font-weight: bolder;" class="btn text-light p-4" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        ANIMATIONS
                        <img src="/static/imgs/ThreeIcon.png"  width="32px" alt="OptIcon">    
                        </a>
                    </p>

            </div>

        </div>

            <div class="collapse" id="collapseExample2">
                
                <div style="background-color: #224e77;">
                    <div class="text-center p-3" >
                    <video  width="80%" controls="True" src="/static/imgsport/Legosii(1).mp4"></video>
                    <h4 class="text-light p-3">Animation of Legosi with the Style 'Dragon Ball Fighter Z Intro'</h4>
                    </div>
                </div>

            </div>

    </div>
            


        
    
        
        
    </div>

        {% include 'foot.html' %}


    <br class="mt-4 p-4"><br class="mt-4 p-4">

    {% endblock %}