{% extends 'base.html' %}

    {% block BlockTitulo %}

        Portifolio

    {% endblock %}


    {% block BlockConteudo %}
    
    <br class="mt-4 p-4">
    <br class="mt-4 p-4">

    <div class="container">

        <div class="row">

        {% include 'nav.html' %}
            <div class="rounded mt-1" style="background-color: #292A2C;">
                <p style="font-size: smaller;" class="text-light mt-2 ">Here are some arts that I have made in my journey of 3 years as an artist.</p>
            </div>
            
        </div>



        <div class="row">

            <br class="mt-4 p-4">
            <br class="mt-4 p-4">


            <div class="col mt-4 p-4"> 

                <div class="card text-light p-1" style="background-color: #292A2C;">
                    <img src="/static/imgs/TrunksNotDying.jfif" class="card-img-top" alt="TrunksNotDyingArt">
                    <div class="card-body">
                        <div class="row">
                            <div class="col ">
                                <h5>"Familiar Premonition."</h5>
                            </div>
                            <div class="col ">
                                <p style="font-size: smaller;text-align: end;">-2023</p>
                            </div>
                        </div>
                        
                        <div class="row rounded" >
                            <p class="card-text">Here we see Trunks on cell saga, but, this time things are different.</p>
                            <div class="text-center">

                                <!-- Modal Button -->
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here</button>
                            
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                        <div class="modal-dialog  modal-xl" >
                                        <div class="modal-content" style="background-color: #292A2C;">
                                            <div class="modal-header">

                                            <h1 class="modal-title fs-5" id="exampleModalLabel">"Familiar Premonition."</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                <img src="/static/imgs/TrunksNotDying.jfif" class="card-img-top" alt="TrunksNotDyingArt">
                                                <p class="card-text mt-2">Here we see Trunks on cell saga, but, this time things are different.</p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                  </div>
   
   
            </div>
            <div class="col mt-4 p-4"> 

                <div class="card text-light p-1" style="background-color: #292A2C;">
                    <img src="/static/imgs/Scp_guard.jpg" class="card-img-top" alt="TrunksNotDyingArt">
                    <div class="card-body">
                        <div class="row">
                            <div class="col ">
                                <h5>"SCPiss off! Dammit."</h5>
                            </div>
                            <div class="col ">
                                <p style="font-size: smaller;text-align: end;">-2023</p>
                            </div>
                        </div>
                        
                        
                        <div class="row rounded" style="">
                            <p class="card-text">Not everyone gives a damn about the guards on SCP, they are always just peons.</p>
                            <div class="text-center">

                                        <!-- Modal Button -->
                                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">Click here</button>
                                    
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                <div class="modal-dialog  modal-xl" >
                                                <div class="modal-content" style="background-color: #292A2C;">
                                                    <div class="modal-header">
        
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">"SCPiss off! Dammit."</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
        
                                                    <div class="modal-body">
                                                        <img src="/static/imgs/Scp_guard.jpg" class="card-img-top" alt="TrunksNotDyingArt">
                                                        <p class="card-text mt-2">Not everyone gives a damn about the guards on SCP, they are always just peons.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                  </div>
   
   
            </div>
        

        </div>

        

        <div class="row">


        </div>
        
    </div>

        {% include 'foot.html' %}


    <br class="mt-4 p-4"><br class="mt-4 p-4">

    {% endblock %}