#box{
  animation-name: fade-up;
  animation-duration: 2s;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity:1;
    transform: translateY(0px) scale(1);
  }
}


https://www.youtube.com/watch?v=u_GIT5MJAtc